body {
  margin: 0;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: white;
  /* background: linear-gradient(to right, purple, blue); */
  overflow: hidden; 
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.2s ease-in-out;
  cursor: pointer;
}

.navbar a:hover {
  color: #ffd700;
  transform: translateY(-2px);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pages {
  width: 400vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: transform 0.5s ease-in-out;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

h1 {
  font-size: 50px;
}

p {
  margin: 0;
}

.box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  font-size: 20px;
  color: white;
  transition: transform 0.3s ease-in-out;
  text-align: left;
  height: fit-content;
}

.box:hover {
  transform: translateY(-5px);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.links, .stack {
  display: flex;
  justify-content: space-around;
}

.links {
  gap: 10px;
}

.linkicon {
  cursor: pointer;
  justify-self: center;
}

.aboutboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text {
  grid-area: 1 / 1 / 2 / 3;
}

.projectimage {
  width: 300px;
  height: 200px;
  cursor: pointer;
}